<div class="text-center md:container md:mx-auto">
  <div class="w-1/4 flex justify-center mt-1 ml-1">
    <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-200">
      <div class="collapse-title text-lg font-normal">
        <h1><%= t('questions.explanation.music_name') %> <%= question.music.music_name %></h1>
      </div>
      <div class="collapse-content"> 
        <h1><%= t('questions.explanation.artist_name') %> <%= question.music.artist_name %></h1>
        <h1><%= t('questions.explanation.release') %> <%= question.music.year %><%= t('questions.explanation.year') %></h1>
      </div>
    </div>
  </div>
  <div class="flex justify-center h-auto rounded-xl">
    <iframe class="aspect-video rounded-3xl lg:w-3/5 lg:h-3/5 mt-1 mb-2.5" width="784" height="441" src="https://www.youtube.com/embed/<%= question.youtube_id %>?controls=0&amp;start=<%= question.youtube_start_time %>&end=<%= question.youtube_end_time %>&autoplay=1" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <div class="flex-none justify-center">
    <% question.lyrics.each do |lyric| %>
      <% if question.id == lyric.question_id %>
        <h1 class="font-bold text-center sm:text-xl md:text-xl font-mono tracking-tight"><%= lyric.lyric %></h1>
      <% end %>
    <% end %>
  </div>
  <h1 class="text-red-700 pt-3 pb-2"><%= t('questions.show.answer_questions') %></h1>
  <div class="pb-12">
    <% question.choices.each do |choice| %>
      <%= button_to results_path(id: choice), action: "create", method: :post do %>
        <button class="btn btn-secondary mb-2" >
          <%= choice.choice %>
        </button><br/>
      <% end %>
    <% end %>
  </div>
</div>