<h1>解答選択ページ</h1>
<h1>曲名:<%= @question.music.music_name %></h1>
<h1>アーティスト名:<%= @question.music.artist_name %></h1>
<h1>リリース年:<%= @question.music.year %></h1>

<p>回答してください</p>
<% @question.choices.each do |choice| %>
  <% if @question.id == choice.question_id %>
    <li><%= choice.choice %></li>
  <% end %>
<% end %>
<div>
  <button class="btn btn-accent"><%= link_to "答えページへ", explanation_question_path(@question) %></button>
</div>