<div class="py-10 px-3 md:container md:mx-auto">
  <div class="text-center">
    <h2 class="font-bold text-xl md:text-3xl lg:text-3xl mb-6"><%= t('.questions') %></h2>
    <div class="pb-5">
      <div class="flex justify-center">
        <%= render "search_form", { url: "/questions/bookmarks", value: "/questions/bookmarks_search" }  %>
      </div>
    </div>
  </div>
  <div class="place-items-center px-5 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <% if @questions.present? %>
      <%= render @questions %>
    <% else %>
      <p><%= t('.no_result') %></p>
    <% end %>
    <div class="flex justify-center text-center item-center text-3xl pb-2 pt-10">
      <%= paginate @questions %>
    </div>
  </div>
</div>