<h1>解答解説ページ</h1>
<h1>曲名:<%= @question.music.music_name %></h1>
<h1>アーティスト名:<%= @question.music.artist_name %></h1>
<h1>リリース年:<%= @question.music.year %></h1>
<p>答え</p>
<p>A. Sugar Yes, please Won't you come and put it down on me?</p>
<h1>和訳:<%= @question.japanese %></h1>

<p>ポイント</p>
<h1><%= @question.commentary %></h1>

<div>
  <% if session[:total_questions] >= 5 %>
    <button class="btn btn-primary"><%= link_to "トップへ", questions_path %></button>
    <button class="btn btn-primary"><%= link_to "結果へ", "#" %></button>
  <% else %>
    <button class="btn btn-accent"><%= link_to "Next Question", question_path(@next_question) %></button>
  <% end %>
</div>

