<div class="text-center md:container md:mx-auto">
  <div class="text-red-500 text-4xl">
    <% if @result.result == true %>
      <h1><%= t('.correct') %></h1>
    <% else %>
      <h1><%= t('.incorrect') %></h1>
    <% end %>
  </div>
  
  <%= render 'explanation', question: @question %>
  
  <div>
    <p class=""><%= t('.answer') %></p>
    <h1 class="text-red-600 font-bold"><%= @true_answer.choice %></h1>
    <h1><%= t('.japanese') %><%= @question.japanese %></h1>
    <p><%= t('.point') %></p>
    <h1><%= @question.commentary %></h1>
    <div>
      <% if @next_question %>
        <% if session[:total_questions] >= 3 %>
          <%= link_to result_questions_path do %>  
            <button class="btn btn-primary"><%= t('.result') %></button>
          <% end %>  
        <% else %>
          <%= link_to question_path(@next_question) do %>  
            <button class="btn btn-accent"><%= t('.next_question') %></button>
          <% end %>  
        <% end %>
      <% else %>
        <% if session[:total_questions] >= 3 %>
          <%= link_to result_questions_path do %>  
            <button class="btn btn-primary"><%= t('.result') %></button>
          <% end %>
        <% else %>
          <%= link_to question_path(@ramdom_question) do %>  
            <button class="btn btn-accent"><%= t('.next_question') %></button>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


