<div class="py-10 px-3 md:container md:mx-auto">
  <div class="text-center">
    <h2 class="font-bold text-xl md:text-3xl lg:text-3xl mb-12"><%= t('.questions') %></h2>
  </div>

  <div class="place-items-center px-5 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
      <div class="card w-96 bg-base-200 shadow-xl mb-7">
        <div class="card-body">
          <h2 class="card-title">Easy</h2>
          <div class="card-actions justify-end">
            <%= link_to difficulty_questions_path('easy') do %>  
              <button class="btn btn-primary">Easy</button>
            <% end %>  
          </div>
        </div>
      </div>
      <div class="card w-96 bg-base-200 shadow-xl mb-7">
        <div class="card-body">
          <h2 class="card-title">Normal</h2>
          <div class="card-actions justify-end">
            <%= link_to difficulty_questions_path('normal') do %>  
              <button class="btn btn-primary">Normal</button>
            <% end %>
          </div>
        </div>
      </div>
      <div class="card w-96 bg-base-200 shadow-xl mb-7">
        <div class="card-body">
          <h2 class="card-title">Difficult</h2>
          <div class="card-actions justify-end">
            <%= link_to difficulty_questions_path('difficult') do %>  
              <button class="btn btn-primary">Difficult</button>
            <% end %>
          </div>
        </div>
      </div>
      <div class="card w-96 bg-base-200 shadow-xl mb-44">
        <div class="card-body">
          <h2 class="card-title"><%= t('.recommend') %></h2>
          <p>おすすめのクイズが３問出題されます!!!</p>
          <div class="card-actions justify-end">
            <% if @recommend_questions.empty? %>
            <p>クイズが底をつきました。。しばしお待ちを</p>
              <%= link_to "#" do %>
                <button class="btn btn-primary">Recommend nothing</button>
              <% end %>
            <% else %>
              <% @recommend_questions.each do |question| %>
                <%= link_to recommend_question_path(id:question) do %>
                  <button class="btn btn-primary">Recommend</button>
                <% end %>
                <% break %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="card w-96 bg-base-200 shadow-xl mb-44">
        <div class="card-body">
          <h2 class="card-title"><%= t('.popular') %></h2>
          <p>いいね数が多い上位問題が出題されます</p>
          <div class="card-actions justify-end">
            <%= link_to "#" do %>
              <button class="btn btn-primary">nothing</button>
            <% end %>
          </div>
        </div>
      </div>

      <div class="card w-96 bg-base-200 shadow-xl mb-44">
        <div class="card-body">
          <h2 class="card-title"><%= t('.bookmark') %></h2>
          <p>ブックマークしたクイズ一覧が表示されます</p>
          <div class="card-actions justify-end">
          <%= link_to bookmarks_questions_path do %>  
            <button class="btn btn-primary">Bookmark</button>
          <% end %>  
          </div>
        </div>
      </div>

  </div>
</div>