<div class="py-10 px-3 md:container md:mx-auto">
  <div class="text-center">
    <h2 class="font-bold text-xl md:text-3xl lg:text-3xl mb-6">クイズ検索</h2>
    <div class="pb-5">
      <div class="flex justify-center">
        <%= form_tag('/questions/questions', method: :get, id: 'search-form', class: "flex items-center mr-4") do %>
          <div data-controller="autocomplete" data-autocomplete-url-value="/questions/search" role="combobox">
            <%= text_field_tag :query, params[:query], placeholder: "検索キーワードを入力", class: "px-4 py-2 border rounded-md", data: { autocomplete_target: "input" } %>
            <input type="hidden" name="selected_value" data-autocomplete-target="hidden"/>
            <ul class="list-group" data-autocomplete-target="results"></ul>
          </div>
          <%= submit_tag "検索", class: "btn btn-accent ml-2" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="place-items-center px-5 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <% @questions.each do |question| %>
      <div class="card w-96 bg-base-100 shadow-xl image-auto md:w-11/12 lg:w-11/12 xl:w-96 2xl:w-10/12">
        <figure><iframe class="aspect-video rounded-2xl lg:h-max mt-1 mb-2.5" width="784" height="441" src="https://www.youtube.com/embed/<%= question.youtube_id %>?controls=0&amp;&autoplay=0" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></figure>
        <div class="card-body pt-1.5 pb-3">
          <h2 class="card-title"><%= question.music.music_name %></h2>
          <p class="float-right font-bold"><%= question.music.artist_name %></p>
          <div class="card-actions justify-end">
            <p><%= question.difficulty %></p>
              <%= link_to question_path(question) do %>  
                <button class="btn btn-neutral">クイズ</button>
              <% end %>  
          </div>
        </div>
      </div>
    <% end %>
    </div>
    <div class="justify-center text-center text-3xl pb-2 pt-10">
      <%= paginate @questions %>
    </div>
</div>