<div class="text-center md:container md:mx-auto">
    <h1><%= @result.count %><%= t('.how') %><%= @true_count %><%= t('.correct') %></h1>
    <h1>挑戦したクイズ</h1>
    <ul>
        <li>
        </li>
    </ul>


    <h1>総正答数：<%= @total_count %>問になりました！</h1>
    
    <div>
        <button class="btn btn-primary"><%= link_to "Easy", difficulty_questions_path('easy') %></button>
        <button class="btn btn-primary"><%= link_to "Normal", difficulty_questions_path('normal') %></button>
        <button class="btn btn-primary"><%= link_to "Difficult", difficulty_questions_path('difficult') %></button>
        <button class="btn">
        <%= link_to t('defaults.top_page'), questions_path %>
        </button>
    </div>
</div>