<h1><%= t('questions.explanation.music_name') %><%= @question.music.music_name %></h1>
<h1><%= t('questions.explanation.artist_name') %><%= @question.music.artist_name %></h1>
<h1><%= t('questions.explanation.release') %><%= @question.music.year %><%= t('questions.explanation.year') %></h1>

<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @question.youtube_id %>?controls=0&amp;start=<%= @question.youtube_start_time %>&end=<%= @question.youtube_end_time %>&autoplay=1" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<% @question.lyrics.each do |lyric| %>
  <% if @question.id == lyric.question_id %>
    <h1><%= lyric.lyric %></h1>
  <% end %>
<% end %>

<% @question.choices.each do |choice| %>
  <%= button_to results_path(id: choice), action: "create", method: :post do %>
    <button class="btn btn-accent" >
      <%= choice.choice %>
    </button><br/>
  <% end %>
<% end %>

<%= link_to "aa" ,explanation_question_path(@question)%>