<div class="hero min-h-screen bg-white">
  <%= image_tag "top.png", class: "min-h-screen" %>
  <div class="hero-overlay bg-opacity-70"></div>
    <div class="hero-content text-center text-white">
      <div class="max-w-md mx-24">
        <h1 class="mb-8 text-7xl font-bold">空耳English</h1>
        <h1 class="mb-4 text-xl">空耳に打ち勝つクイズアプリ</h1>
          <%= link_to new_user_path do %>
            <button class="btn btn-secondary mb-5">新規登録</button>
          <% end %>
        <p class="mb-1 text-sm">注意</p>
        <p class="text-xs">本アプリのクイズは、YouTubeを使用しています。</p>
        <p class="mb-5 text-xs">YouTubeは自動再生される設定にしていますので、音量にご注意ください</p>
      </ul>
    </div>
  </div>
</div>
<div class="text-black text-center bg-white">
  <div class="md:py-8">
    <h1 class="my-6 text-3xl">「空耳English」とは</h1>
    <div class=" self-center center">
      <h1 class="mb-2 text-lg">「空耳English」は、英語が日本語に聞こえてしまう現象から克服することを手助けする英語学習クイズアプリです
      <br>例えば “What time is it now?” が日本語の「掘った芋いじんな」に聞こえるような「空耳英語」をみなさんに体験していただき、<br>空耳英語に打ち勝つネイティブ耳を鍛えていただけたら幸いです</h1>
    </div>
  </div>
  <div class="container px-5 py-16 mx-auto">
  <div class="text-center mb-20">
    <h1 class="sm:text-2xl text-2xl font-medium title-font text-gray-900 mb-4">空耳Englishでできること</h1>
  </div>
  <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6">
    <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
    <%= image_tag '0625-3d-image-m.png', alt: "testimonial", class: "w-32 h-20 mb-8 object-cover object-center inline-block bg-white-100" %>
      <div class="flex-grow">
        <h2 class="text-gray-900 text-lg title-font font-medium mb-3">空耳クイズに挑戦できます</h2>
        <p class="leading-relaxed text-base">日本語に聞こえる洋楽が問題で出題されます<br>4つの選択肢から正解を選んでください</p>
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
          </svg>
        </a>
      </div>
    </div>
    <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
      <%= image_tag 'SCR-20231001-srqm.png', alt: "testimonial", class: "w-20 h-20 mb-8 object-cover object-center inline-block bg-white-100" %>
      <div class="flex-grow">
        <h2 class="text-gray-900 text-lg title-font font-medium mb-3">発音チェックができます</h2>
        <p class="leading-relaxed text-base">マイクに向かって声を発すると、発した英語が文字起こしされて、ご自身の発音を確認することができます</p>
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
          </svg>
        </a>
      </div>
    </div>
    <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
    <%= image_tag 'symbol064.png', alt: "testimonial", class: "w-20 h-20 mb-8 object-cover object-center inline-block bg-white-100" %>
      <div class="flex-grow">
        <h2 class="text-gray-900 text-lg title-font font-medium mb-3">クイズ検索ができます</h2>
        <p class="leading-relaxed text-base">気に入ったアーティストのクイズを検索して<br>クイズに答えることができます</p>
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>