<div class="text-center">
  <h1 class="text-4xl font-bold mt-12"><%= t('.page_title') %></h1>
  <div class="flex-col lg:flex-row mt-6">
    <div class="avatar">
      <div class="w-44 rounded-full">
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar %>
        <% else %>
          <%= image_tag 'defaultavatar.png' %>
        <% end %>
      </div>
    </div>
    <div>
      <h1 class="text-ls font-bold mt-2">合計チャレンジ数：<%= @count %>問</h1>
      <h1 class="text-xl font-bold mt-2">Lv.  <%= @level %> _ 無名の空耳</h1>
      <h1 class="text-ls font-bold mt-2">レベルアップまであと<%= @next_level %>問!!</h1>
      <h1 class="text-3xl font-bold mt-6"><%= t('.name') %> : <%= @user.name %></h1>
      <h1 class="text-3xl font-bold mt-6"><%= t('.email' )%> : <%= @user.email %></h1>
      <h1 class="text-xl font-bold mt-8 link link-natural"><%= link_to t('.bookmarked') ,bookmarks_questions_path %></h1>
      <%= link_to edit_profile_path do %>
        <button class="btn btn-neutral text-white mt-8 mb-10"><%= t('profiles.edit.title') %></button>
      <% end %>
    </div>
    <%= link_to t('defaults.withdrawal'), user_path(current_user.id), data: { turbo_method: :delete, "turbo-confirm": (t 'defaults.withdrawal?') }, class: "btn btn-error text-white mb-20" %>
  </div>
</div>