<div class="hero-content flex-col lg:flex-row">
  <img src="/images/stock/photo-1635805737707-575885ab0820.jpg" class="max-w-sm rounded-lg shadow-2xl"/>
  <div>
    <h1 class="text-5xl font-bold"><%= t('.title') %></h1>
    <div>
      <h1><%= t('.name') %> :<%= @user.name %></h1>
      <h1><%= t('.email' )%> :<%= @user.email %></h1>
      <%= link_to edit_profile_path do %>
      <button class="btn btn-primary"><%= t('profiles.edit.title') %></button>
      <% end %>
    </div>
  </div>
</div>