<div class="hero-content flex-col lg:flex-row">
  <div class="avatar">
    <div class="w-36 rounded-full">
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar %>
      <% end %>
    </div>
  </div>
  <div>
    <h1 class="text-5xl font-bold"><%= t('.title') %></h1>
    <div>
      <h1><%= t('.name') %> :<%= @user.name %></h1>
      <h1><%= t('.email' )%> :<%= @user.email %></h1>
      <%= link_to edit_profile_path do %>
      <button class="btn btn-primary"><%= t('profiles.edit.title') %></button>
      <% end %>
    </div>
  </div>
</div>