<header>
  <nav class="flex items-center justify-between flex-wrap bg-blue-300 p-2 ">
    <div ir="ltr" class="flex items-center flex-shrink-0 text-white mr-6">
      <span class="font-semibold text-2xl tracking-tight ms-8">
        <%= link_to (t 'defaults.app_name'), root_path %>
      </span>
    </div>
    <div dir="rtl">
      <div class="md:ml-auto flex flex-wrap items-center md:text-xl justify-center ms-8">
        <% if logged_in? %>
          <div class="dropdown dropdown-hover dropdown-end">
            <label tabindex="0" class="btn m-1"><%= t('defaults.profiles') %></label>
            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-40 text-center">
              <li><%= link_to t('defaults.profiles'), profile_path %></li>
              <li><%= link_to t('profiles.edit.title'), edit_profile_path %></li>
              <li><%= link_to "ブックマーク", bookmarks_questions_path %></li>
              <li><%= button_to t('defaults.logout'), logout_path, method: :delete %></li>
            </ul>
          </div>
        <% else %>
          <div class="dropdown dropdown-hover dropdown-end">
            <label tabindex="0" class="btn m-1"><%= t('defaults.login') %></label>
            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-36 text-center">
              <li><%= link_to t('defaults.login'), login_path %></li>
              <li><%= link_to t('users.new.title'), new_user_path %></li>
            </ul>
          </div>
        <% end %>
        <div class="dropdown dropdown-hover dropdown-end">
          <label tabindex="0" class="btn m-1"><%= t('defaults.ranking') %></label>
          <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-32">
            <li><%= link_to t('defaults.ranking'), "#" %></li>
          </ul>
        </div>
        <div class="dropdown dropdown-hover dropdown-end">
          <label tabindex="0" class="btn m-1"><%= (t 'defaults.questions') %></label>
          <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-32">
            <li><%= link_to (t 'defaults.questions'), questions_path %></li>
            <li><%= link_to "Easy", difficulty_questions_path('easy') %></li>
            <li><%= link_to "Normal", difficulty_questions_path('normal') %></li>
            <li><%= link_to "Difficult", difficulty_questions_path('difficult') %></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
