<div class="flex h-screen justify-center text-center">
  <div>
    <h1 class="text-4xl font-bold text-center mt-20 mb-10"><%= t('.title') %></h1>
    <%= form_with model: @user, url: on_boardings_path, local: true do |f| %>
      <div class="mb-10">
        <%= f.label :name, class: "block text-sm font-medium text-gray-700 text-xl mb-2" %>
        <%= f.text_field :name, class: "input input-bordered w-full max-w-xs" %>
      </div>
      <div class="d-grid mb-10">
        <%= f.submit t('defaults.register'), class: 'btn btn-primary text-headfoot' %>
      </div>
    <% end %>
  </div>
</div>