<div class="container">
    <h1 class="text-3xl pt-10 ml-10"><%= t '.title' %></h1>
    <div class="flex justify-center">
        <%= form_with model: @music, url: admin_musics_path, local: true do |f| %>
            <div class = 'form-group py-2'>
                <%= f.label :music_name, class: "text-font-color text-3xl" %>
                <%= f.text_field :music_name,  class: "form-control mb-3 py-2 px-10 mt-3 text-2xl" %>
            </div>
            <div class = 'form-group py-2'>
                <%= f.label :artist_name, class: "text-font-color text-3xl" %>
                <%= f.text_field :artist_name,  class: "form-control mb-3 py-2 px-10 mt-3 text-2xl" %>
            </div>
            <div class = 'form-group py-2'>
                <%= f.label :year, class: "text-font-color text-3xl" %>
                <%= f.number_field :year,  class: "form-control mb-3 py-2 px-10 mt-3 text-2xl" %>
            </div>
            <div class="form-group py-5 text-center">
                <%= f.submit (t'defaults.register'), class: 'btn btn-primary bg-button-color hover:bg-hover-color border-none' %>
            </div>
        <% end %>
    </div>
</div>