<script src="https://accounts.google.com/gsi/client" async defer></script>

<div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-200 mx-auto mt-20 mb-48">
  <div class="card-body">
    <h3 class="mt-3 text-xl font-medium text-center text-gray-600"><%= t '.title' %></h3>
    <%= form_with url: login_path, local: true do |f| %>
      <div class="form-control">
        <%= f.label :email, User.human_attribute_name(:email), class: "label w-full" %>
        <%= f.email_field :email, class: "input input-bordered w-full" %>
      </div>
      <div class="form-control">
        <%= f.label :password, User.human_attribute_name(:password), class: "label w-full" %>
        <%= f.password_field :password, class: 'form-control', class: "input input-bordered w-full" %>
        <%= link_to t('.password_forget'), new_password_reset_path, class: "text-xs text-gray-700" %>
      </div>
      <div class="form-control mt-6">
        <%= f.submit t('defaults.login'), class: "btn btn-neutral"%>
      </div>
    <% end %>
  </div>
  <div class="form-control label w-full">
    <div id="g_id_onload"
      data-client_id="323169411967-dfj3chkg4vh838qf8pr72782f3ebmfl4.apps.googleusercontent.com"
      data-login_uri="https://www.soramix2english.com/google_login_api/callback"
      data-auto_prompt="false" >
    </div>
    <div class="g_id_signin"
      data-type="standard"
      data-size="large"
      data-theme="outline"
      data-text="sign_in_with"
      data-shape="rectangular"
      data-logo_alignment="left">
    </div>
  </div>
  <div class="flex items-center justify-center py-6 text-center">
    <%= link_to (t '.to_register_page'), new_user_path, class: "link link-natural" %>
  </div>
</div>